body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

item img {
    width: 500px;
}

item { display: block; }
submitter, domain { display: inline; }
submitter::before { content: "Captured by "}
domain::before { content: "in "}
